.container {
    border-radius: 25px;
    background-color: #144272;
    display: flex;
    flex-direction: column;
    padding: 55px 54px 27px;
  }
  

  
  .header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    font-weight: 400;

  }

  
  .userInfo {
    display: flex;
    flex-direction: column;
  }

  .firstSection{
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  
  
  .userDetails {
    display: flex;
    gap: 0;
    font-size: 34px;
    color: #9db2bf;
    text-transform: uppercase;
  }
  
  .avatar {
    border-radius: 50%;
    box-shadow: 0 14.103px 35.256px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #302961 0%, #0cf4d1 13.41%, #493f95 39.01%, #221d45 80.68%, #211c49 100%);
    width: 64px;
    height: 59px;
  }
  
  .userAvatar {
    aspect-ratio: 1;
    object-fit: cover;
    width: 54px;
    mix-blend-mode: luminosity;
  }
  
  .userName {
    font-family: Square721 BT, -apple-system, Roboto, Helvetica, sans-serif;
    margin: auto 0;
  }
  
  
  .referralButton {
    border-radius: 77.284px;
    border: 2.5px solid #fff;
    box-shadow: 0 5.33px 14.6px 0 rgba(0, 0, 0, 0.25);
    margin-top: 49px;
    font-size: 42px;
    color: #fff;
    background-color:#144272 ;
    gap: 10px;
    display: flex;
    padding: 15px 100px;
    
    img{
      margin-right: 25px;
    }
  }
  
  
  .referralIcon {
    aspect-ratio: 1;
    object-fit: cover;
    width: 53px;
    fill: #fff;
  }
  
  .languageSelector {
    align-self: flex-start;
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    font-size: 36px;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
  }

  
  .languageFlag {
    aspect-ratio: 1.72;
    object-fit: cover;
    width: 100px;
    align-self: center;
  }
  
  .languageCode {
    font-family: Good Times, sans-serif;
    margin-top: 9px;
  }
  
  .nftSection {
    display: flex;
    flex-direction: column;
  }
  
  .nftInfo {
    align-self: flex-end;
    display: flex;
    gap: 15px;
    font-size: 34px;
    text-transform: uppercase;

  }
  
  .nftIcon {
    aspect-ratio: 0.79;
    object-fit: cover;
    width: 47px;
    fill: linear-gradient(170deg, #f7c243 7.58%, #fd902b 69.55%);
  }
  
  .nftText {
    font-family: Good Times, sans-serif;
    /* font-family: Good Times, sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: linear-gradient(170deg, #f7c243 7.58%, #fd902b 69.55%);
    margin: auto 0; */
    color: linear-gradient(170deg, #f7c243 7.58%, #fd902b 69.55%);

    color: #f7c243 ;
    margin-right: 10px;
  }

  .secondhalf{
    display: flex;
    flex-direction: column;
  }
  
  .upgradeButton {
    justify-content: center;
    align-items: center;
    border-radius: 168px;
    background: linear-gradient(91deg, #dda23c 2.28%, #facc6c 28.35%, #ffb337 67.08%, #976002 104.56%);
    box-shadow: 0 4px 4px 0 #dda23c inset;
    display: flex;
    margin-top: 52px;
    font-size: 42px;
    color: #000;
    padding: 15px 150px;

    img{
      margin-right: 25px;
    }
    span{
      color: #000;
    }
  }
  
  .upgradeIcon {
    aspect-ratio: 1;
    object-fit: cover;
    width: 50px;
  }
  
  .mainContent {
    border-radius: 5px 5px 112px 112px;
    border: 3px solid #9db2bf;
    background: #0A2647;
    /* box-shadow: 10px 10px 5px 0 #9DB2BF; */
    /* backdrop-filter: blur(7.5px); */
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    padding: 0 43px 33px;
    width: 1400px;
  }

  .containerSaffron {
    border-radius: 112px 112px 5px 5px;
    border: 3px solid #9db2bf;
    background: linear-gradient(180deg, #0B2748 0%, #2C74B3 30%, #000618 100%);
    display: flex;
    margin-top: 98px;
    flex-direction: column;
    padding: 0 43px 33px;
}

  
  .titleContainer {
    border-radius: 252px;
    /* align-self: center; */
    display: flex;
    width: 100%;
    max-width: 1156px;
    align-items: center;
    font-size: 38px;
    /* color: #dde6ed; */
    /* font-weight: 400; */
    /* text-align: center; */
    text-transform: capitalize;
    /* line-height: 88%; */
    justify-content: center;
    padding: 20px 60px;
    fill: linear-gradient( #0B2748 0%, #2C74B3 100%, #000618 0%);

  }
  
  
  .titleIcon {
    aspect-ratio: 0.98;
    object-fit: cover;
    width: 45px;
  }
  
  .title {
    font-family: Square721 BT, -apple-system, Roboto, Helvetica, sans-serif;
    margin: auto 0;
    font-size: 48px;
    color: #DDE6ED;
    margin: 10px;
  }
  
  .actionSection {
    border-radius: 15px;
    background: linear-gradient(0deg, #27374d -192.64%, rgba(82, 109, 130, 0) 74.42%);
    background-blend-mode: plus-lighter;
    backdrop-filter: blur(calc(var(--sds-size-blur-100) / 2));
    margin-top: 41px;
    padding: 47px 72px;
  }

  
  .actionButtons {
    display: flex;
    gap: 20px;
    font-family: Square721 BT, -apple-system, Roboto, Helvetica, sans-serif; ;
  }

  
  .actionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 28px 60px;
    font: 400 42px/110% Square721 BT, -apple-system, Roboto, Helvetica, sans-serif;
    text-transform: capitalize;
  }
  
  .buySmt {
    border-radius: 108.079px;
    border: 2.162px solid #dda23c;
    background: linear-gradient(74deg, #ffd566 -7.53%, #ffb337 35.55%);
    box-shadow: 8px 8px 47.2px 6px rgba(255, 179, 55, 0.46), 0 7px 37.5px 0 #976002;
    color: #000;
  }
  
  .myStats,
  .myTeam {
    border-radius: 108.079px;
    border: 2px solid #27374d;
    background: linear-gradient(0deg, #27374d 0.11%, #132338 91.59%);
    box-shadow: -7px -6px 25.5px 0 rgba(157, 178, 191, 0.21), 6px 12px 20.6px 0 rgba(0, 0, 0, 0.25), 11px 11px 16.9px 0 rgba(32, 48, 70, 0.24) inset;
    color: #fff;
  }
  

  
  .actionIcon {
    aspect-ratio: 1;
    object-fit: cover;
    width: 35px;
    fill: #fff;
    margin: auto 15px;
  }
  
  .statsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  
  .autoClicker {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .autoClickerHeader {
    display: flex;
    gap: 10px;
    font-size: 28px;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Square721 BT Roman', sans-serif;
    /* padding: 10px 11px; */
  }
  
  .autoClickerIcon {
    aspect-ratio: 1;
    width: 60x;
    img{
      fill: linear-gradient(170deg, #f7c243 7.58%, #fd902b 69.55%);
    }
    
  }
  
  .autoClickerToggle {
    border-radius: 4.79px;
    background-color: #27374d;
    /* gap: 20px; */
    font-size: 30px;
    text-transform: uppercase;
    width: fit-content;
    padding: 10px 20px;
  }
  
  .toggleOn {
    color: #fff;
  }
  
  .toggleOff {
    border-radius: 4.79px;
    background-color: #203046;
    padding: 28px 19px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(170deg, #F7C243 100%, #FD902B 100%);
  }
  
  .leaderBoard {
    display: flex;
    flex-direction: column;
  }
  
  .leaderBoardImage {
    border-radius: 50%;
    background: linear-gradient(331deg, #9db2bf 5.82%, #9db2bf 59.65%);
    display: flex;
    margin-top: -105px;
    width: 50%;
    margin: auto;
  }

  
  
  .leaderBoardTitle {
    display: flex;
    font-family: 'Square721 BT Roman', sans-serif;
    gap: 18px;
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
    align-items: center;
  }
  
  .leaderBoardIcon {
    height: 50px;
    width: 50px;
  }
  
  .balanceSection {
    margin-top: 39px;
  }
  
  .tapsLeft {
    border-radius: 23.5px;
    border: 2px solid #526d82;
    background-color: #144272;
    display: flex;
    width: 100%;
    max-width: 1152px;
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 110%;
    justify-content: space-between;
    padding: 20px 34px;
  }
  

  
  .tapsValue {
    display: flex;
    gap: 4px;
    color: linear-gradient(170deg, #f7c243 7.58%, #fd902b 69.55%);
  }
  
  .tapsIcon {
    aspect-ratio: 0.78;
    object-fit: cover;
    width: 32px;
    fill: linear-gradient(170deg, #f7c243 7.58%, #fd902b 69.55%);
  }
  
  .balance {
    border-radius: 23px;
    background: linear-gradient(180deg, #144272 0%, #2c74b3 161.54%);
    box-shadow: 1.002px 4.007px 5.409px 0 rgba(82, 109, 130, 0.76) inset;
    border: 2px solid #3a5066;
    display: flex;
    margin-top: 19px;
    flex-direction: column;
    align-items: center;
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 110%;
    padding: 18px 16px 10px;
    color: #dde6ed;
  }
  
  
  .balanceHeader {
    display: flex;
    gap: 16px;
    white-space: nowrap;
  }
  
  .currency {
    border-radius: 1.847px;
    background: linear-gradient(170deg, #f7c243 7.58%, #fd902b 69.55%);
    color: #27374d;
    padding: 1px 9px;
  }

  .progressBar{
    width: 100%;
    height: 25px;
    background: linear-gradient(170deg, #f7c243 7.58%, #fd902b 69.55%);
    border-radius: 2.5px;
    margin-top: 35px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 10px;
  }
  
  .balanceValue {
    display: flex;
    margin-top: 15px;
    gap: 8px;
    white-space: nowrap;
    color: #f7c243
  }
  
  
  .balanceIcon {
    aspect-ratio: 0.96;
    object-fit: cover;
    width: 30px;
    margin: auto 0;
  }
  
  .balanceDivider {
    width: 100%;
    stroke-width: 1.5px;
    stroke: #9db2bf;
    border: 2px solid #9db2bf;
    margin-top: 15px;
  }
  
  .energyBalance {
    color: #dde6ed;
    text-align: center;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .energyValue {
    display: flex;
    margin-top: 15px;
    gap: 4px;
    white-space: nowrap;
  }
  
  .energyIcon {
    aspect-ratio: 0.68;
    object-fit: cover;
    width: 24px;
    fill: linear-gradient(170deg, #f7c243 7.58%, #fd902b 69.55%);
    margin: auto 0;
  }
  
  .footer {
    border-radius: 23.7px;
    border: 2.5px solid #205990;
    background: linear-gradient(180deg, #144272 30%, #2c74b3 100%);
    display: flex;
    margin-top: 39px;
    justify-content: space-around;
    padding: 0 60px 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  
  
  .footerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -26px;
  }
  
  .footerIcon {
    border-radius: 50%;
    border: 2px solid #9ae8ff;
    background: linear-gradient(97deg, #205990 100%, #226098 89.12%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
  }
  
  .footerIcon img {
    width: 60px;
    height: auto;
    fill: linear-gradient(170deg, #f7c243 100%, #fd902b 100%);
  }
  
  .footerLabel {
    color: #fff;
    text-transform: capitalize;
    margin-top: 12px;
    font: 400 23px/110% Square721 BT, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 24px;
  }